* {
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 8vw;
  }
  
  form {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .form-label {
    font-size: 3vw;
  }
  
  input {
    display: inline-block;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2.75vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  #submit-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    width: 45%;
  }
  
  #submit-button:hover {
    background-color: gainsboro;
  }
  
  .hidden {
    display: none;
  }
  
